{% extends "provider/provbase.html" %}
{% block title %} {{postdetails.name}} Feedback {% endblock %}

{% block css %}
<link rel="stylesheet" href="/statics/provider/all_posts.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
        
        <div class="req-name">
            <p>
                <a style ="color: #1D710F;text-decoration: none;" href="/provider/home">
                    <i class="fas fa-arrow-left icon-with-space" style="font-size: 20px;"></i>
                </a>
            All Post</p>
        </div>
        <div class="outerbox">
        
        
            <div class="custom-box2 "> 



    {% for item in posts_with_descriptions %}
    <div class="historybox">
        <img src="/{{ item.post.photo}}" alt="Your Image" class="image2">
        <div class="history-details">
            <div class="custom-box-line2 line2_position1"><b>ID: </b><span style="color:green">{{ item.post.id }}</span> <span style="position:absolute;right:0px">{{ item.post.created_at|timesince }}</span></div>
            <div class="custom-box-line2 line2_position2"><b>Name: </b><span>{{ item.post.name }}</span></div>
            <div class="custom-box-line2 line2_position3"><b>Quantity: </b><span>{{ item.post.quantity }}</span></div>
            <!-- Display fields related to the category -->
            {% if item.post.category == 'toys' %}
                
                    <div class="custom-box-line2 line2_position4"><b>Age Group: </b>{{ item.toys_desc.age_group }}</div>
                    <div class="custom-box-line2 line2_position5"><b>Condition: </b>{{ item.toys_desc.condition }}</div>
                    <div class="custom-box-line2 line2_position6"><b>Description: </b>{{ item.toys_desc.desc }}</div>
                
            {% elif item.post.category == 'groceries' %}
                
                    
                    <div class="custom-box-line2 line2_position4"><b>Expiry Date: </b>{{ item.grocery_desc.expiry_date }}</div>
                    <div class="custom-box-line2 line2_position5"><b>Expiry Time: </b>{{ item.grocery_desc.expiry_time }}</div>
                    <div class="custom-box-line2 line2_position6"><b>Description: </b>{{ item.grocery_desc.desc }}</div>
                
            {% elif item.post.category == 'clothes' %}
                
                    
                    <div class="custom-box-line2 line2_position4"><b>Gender: </b>{{ item.cloth_desc.gender }}</div>
                    <div class="custom-box-line2 line2_position5"><b>Condition: </b>{{ item.cloth_desc.condition }}</div>
                    <div class="custom-box-line2 line2_position6"><b>Size: </b>{{ item.cloth_desc.size }}</div>
                    <div class="custom-box-line2 line2_position7"><b>Description: </b>{{ item.cloth_desc.desc }}</div>
                
            {% elif item.post.category == 'food' %}
                
                    
                    <div class="custom-box-line2 line2_position4"><b>Expiry Date: </b>{{ item.food_desc.expiry_date }}</div>
                    <div class="custom-box-line2 line2_position5"><b>Expiry Time: </b>{{ item.food_desc.expiry_time }}</div>
                    <div class="custom-box-line2 line2_position6"><b>Description: </b>{{ item.food_desc.desc }}</div>
                
            {% elif item.post.category == 'others' %}
                
                    <div class="custom-box-line2 line2_position4"><b>Description: </b>{{ item.other_desc.desc }}</div>
                
            {% endif %}

            <div class="custom-box-line line_position2"><center> <span style="color:#1D710F;font-weight:bold; position:absolute; bottom:10px;left:1100px;">
                <a href="{% url 'provider:deletion' item.post.id %}" style="color:#ab2b0b;"><i class="material-icons" style="font-size:40px;color:red; padding-left: 90px;">delete</i></a>
                <br>
                <a href="{% url 'receiver:view_post' item.post.id %}" style="color:#1D710F;">View Post -></a> 
                <a href="{% url 'provider:feedback' item.post.id %}" style="color:#1D710F; margin-left: 8px;">Feedback -></a>
            </span></center></div>

            
        </div>
        </div> 
    {% endfor %}
                
    </div>
        
            
    </div>
        
                        
        
    </div>
    <i class="fas fa-comment chatbox-icon"></i>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var innerBoxes = document.querySelectorAll(".custom-box4");

            function revealInnerBoxes() {
                innerBoxes.forEach(function (innerBox) {
                    var boxPosition = innerBox.getBoundingClientRect().top;
                    var windowHeight = document.querySelector('.box2').clientHeight;
                    if (boxPosition < windowHeight) {
                        innerBox.style.opacity = 1;
                        innerBox.style.transform = "translateY(0)";
                    }
                });
            }

            document.querySelector('.box2').addEventListener("scroll", revealInnerBoxes);
            revealInnerBoxes(); // Initial check on page load
        });
        document.addEventListener("DOMContentLoaded", function () {
            var innerBoxes = document.querySelectorAll(".custom-box");

            function revealInnerBoxes() {
                innerBoxes.forEach(function (innerBox) {
                    var boxPosition = innerBox.getBoundingClientRect().top;
                    var windowHeight = document.querySelector('.outerbox').clientHeight;
                    if (boxPosition < windowHeight) {
                        innerBox.style.opacity = 1;
                        innerBox.style.transform = "translateY(0)";
                    }
                });
            }

            document.querySelector('.outerbox').addEventListener("scroll", revealInnerBoxes);
            revealInnerBoxes(); // Initial check on page load
        });
    </script>
    <script src="/statics/provider/logout.js"></script>
{% endblock %}