{% extends "provider/provbase.html" %}
{% block content %}

        <p class="welcome" >Welcome <span style="color:green">{{uname}}</span>!</p>
        <p class="code" >You are an <span style="color:green">{{data}}</span> donor!</p>
        <div class="custom-box box1"><p class="text-donations" >No.of donations:</p>
        <p class="donation">50</p></div>
        <div class="custom-box box2"><p class="text-donations" >ZeroWaste score:</p>
        <p class="zerowastescore">100</p></div>
        <div class="custom-box-history ">
            <p class="history" >Posts History</p>
            <a class="view-all" href="/provider/all_posts" style="text-decoration: none;">View all</a>  
            <div class="custom-box-line line_position1"></div>
            <div class=" custom-box-2">
                {% for post in posts %}
                    <div class="historybox">
                        <img src="/{{ post.photo }}" alt="Your Image" class="image2">
                        <div class="history-details">
                            <div class="custom-box-line2 line2_position1"><b>ID: </b><span style="color:green">{{ post.id }}</span> <span style="position:absolute;right:0px">{{ post.created_at|timesince }}</span></div>
                            <div class="custom-box-line2 line2_position2"><span>{{ post.name }}</span></div>
                            <div class="custom-box-line2 line2_position3"><span>{{ post.quantity }}</span></div>
                            <div class="custom-box-line line_position2"><center> <span style="color:#1D710F;font-weight:bold; position:absolute; bottom:10px;left:330px;">{{post.status}}</span></center></div>
                
                        </div>
                    </div> 
                {% endfor %}

            </div>
            </div>
            


        </div>
        <div class="custom-box3">
            <p class="requests">Requests</p>
            <a class="view-all" href="/provider/requests" style="text-decoration: none;">View all</a>

            {% for or in orders %}
                <div class="custom-box4">
                    <div class="custom-box-line line_position3">
                        <center><p style="font-family: 'Poppins', sans-serif;font-size:20px;"><span style="color:green;">User 
                            {{ or }}
                        </span> has requested for <span>food.</span></p></center>
                    </div>
                    <button class="request-button req-but-pos1">Accept</button>
                    <br>
                    <button class="request-button req-but-pos2">Reject</button>
                </div>
           {% endfor %}
        </div>
        <div class="custom-box5">
            <p class="performance">Your <span style="color:#1D710F">performance</span></p>
            <img src="/statics/provider/images/image3.jpeg" alt="Your Image" class="image3">
        </div>
        <div class="custom-box6">
            <center><p style="font-family: 'Inter', sans-serif;font-size:22px; position:absolute;top:20px;left:60px;">Share what you can spare, someone out there will care</p></center>
            <a href="/provider/new">
                <button class="donate-button ">
                    <i class="fas fa-plus plus-icon"></i>
                Donate</button>
            </a>
        </div>
        <div class="outer-box">
            <div class="custom-box-line line_position4"></div>
            <p class="faq">FAQs</p>
            <div class="inner-box">
                <div class="arrow" onclick="toggleExpand(this)"><i class="fas fa-chevron-down down-arrow-icon"></i></div>
                <p class="questions">What items can we donate?</p>
              <p class="hidden-paragraph">You can donate a variety of items, including food, gently used clothes, unbroken toys, groceries, and other essential items in good condition. If you have specific items in mind or questions about suitability, feel free to ask in the chat for assistance.</p>
            </div>
            <div class="inner-box">
               
              <div class="arrow" onclick="toggleExpand(this)"><i class="fas fa-chevron-down down-arrow-icon"></i></div>
              <p class="questions">Are there any restrictions on the quantity of food I can donate?</p>
              <p class="hidden-paragraph">There are no strict restrictions on the quantity of food you can donate. We appreciate contributions of all sizes. However, we encourage donors to consider the practicality of handling larger quantities to ensure the freshness and quality of the donated items. </p>
            </div>
            <!-- Add more inner boxes as needed -->
            <div class="custom-box-line line_position4"></div>
          </div>
    </div>

    {% for message in messages %}
    <div class="overlay" style="display: flex">
        <div class="popup">
          <!-- Your popup content goes here -->
          <p style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:25px; position:relative;left:33%;top:7%; ">Thank you!</p>
          <img src="/statics/provider/images/tick.jpeg" alt="" class="imagetick">
          <br><br>
          <p id="popupMessage" style="font-family: Arial, Helvetica, sans-serif;font-size:20px; position:relative;left:26%;top:10%;font-weight: bold;">{{ message }}</p>
          <button class="close-btn" onclick= closePopup(event) >Done</button>
        </div>
      </div>
    {% endfor %}


    <script>

        function toggleExpand(arrow) {
        const innerBox = arrow.parentNode;
        innerBox.classList.toggle('expanded');}
  
        function closePopup() {
        document.querySelector('.overlay').style.display = 'none';
        }
        
        let arrowPressCount = 0;
      
        function showText() {
          arrowPressCount++;
          const message = `Down arrow icon clicked ${arrowPressCount} times`;
          document.getElementById('output').innerText = message;
      
          // Move the text container down
          document.getElementById('custom-box8').style.marginBottom = `${10 + arrowPressCount * 40}px`;
        }
      </script>

{% endblock %}
