{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    {% block css %}
    {% endblock %}
</head>

<body>

    <div class="container">
        <img src="/statics/admin/media/simple-icons_overleaf.png" alt="Your Image" class="image">
        <p class="top-left-text" >ZeroWaste</p>
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Testing</a></li>
                <li><a href="#feedback">Feedback</a></li>
                <li><a href="#chatbox">Chat box</a></li>
            </ul>
        </nav>
        <div class="circle"><i class="fa fa-user user" aria-hidden="true"></i></div>
            <!-- {% for message in messages %}
                <li class="message-any">{{ message }}</li>
            {% endfor %} -->   
    
        {% block content %}
        {% endblock %}  
</body>