{%extends 'receiver/base.html' %} {%block title%}Dashboard{%endblock%} {%block extra_css_link%}

 {% load static %}
<link
  rel="stylesheet"
  href="{% static 'receiver/css/dashboard.css'%}"
/>
{%endblock%} {%block body%} {% if messages %}
<div class="validation-message" id="validationMessage">
  <ul class="message-list">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{%endif%}
<div>
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      style="background-color: #578b50"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Categories
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#" onclick="filterPosts('all')">All</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="filterPosts('food')">Food</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="filterPosts('clothes')"
          >Clothes</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="filterPosts('toys')">Toys</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="filterPosts('groceries')"
          >Groceries</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="filterPosts('others')"
          >Others</a
        >
      </li>
    </ul>
  </div>
</div>

<div id="post-container">
  <div class="restaurant-cards">
    {% for post in data.posts %}
    <div class="restaurant-card" onclick="sendRequest('{{ post.post_id }}')">
      <img src="{{ post.image }}" alt="Item Image" />
      <div class="card-body">
        <h4>{{post.item_name}}</h4>
        <p>{{post.location}}</p>
        <p>{{post.drop_pickup}}</p>
      </div>
      <form
        id="form_{{post.post_id}}"
        action="{% url 'receiver:view_post' post_id=post.post_id %}"
        method="post"
      >
        {% csrf_token %}
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%} {%block extra_js%}

<script>
   <!-- js -->
   function sendRequest(postId) {
   const form=document.getElementById(`form_${postId}`); form.action =
   `/receiver/view_post/${postId}/`;
   document.getElementById("form_" +postId).submit();
  }
   function filterPosts(category){
   let all_posts = {{data.posts | safe }};
   filteredPosts=all_posts.filter((post)=>post.category===category)
   if(category==='all')filteredPosts=all_posts
   document.querySelector('.restaurant-cards').innerHTML=''
   if(filteredPosts.length===0)document.querySelector('.restaurant-cards').innerHTML="<h6>Sorry no posts available</h6>"
   filteredPosts.forEach(function(post) { let postElement =
   document.createElement('div'); postElement.className = 'restaurant-card';
   postElement.onclick = function() { sendRequest(post.post_id); };
   postElement.innerHTML = `
   <img src="${post.image}" alt="Item Image" />
   <div class="card-body">
     <h4>${post.item_name}</h4>
     <p>${post.location}</p>
     <p>${post.drop_pickup}</p>
   </div>
   <form id="form_${post.post_id}" action="" method="post">{% csrf_token %}</form>
   `; // Append the post container to "restaurent-cards" class
   document.querySelector('.restaurant-cards').appendChild(postElement); }); }
</script>
{%endblock%}
