{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order History</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
      .navbar-brand {
        color: #1a1a1a;
        font-family: "Lexend Deca", sans-serif;
        font-weight: bold;
        font-size: 24;
      }
      .nav-item {
        font-family: "Lexend Deca", sans-serif;
        font-weight: regular;
        font-size: 24;
        padding-left: 15px;
      }
      .navbar .container {
        padding: 10px 0; /* Adjust the padding as needed */
      }
      .navbar {
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: #e9e9e9;
      }
      .navbar-nav {
        border-radius: 5px;
      }
     
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 16px;
      }
      h3 {
        font-size: 20px;
        color: #666;
        margin-top: 16px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 50px;
        margin-top: 15px;
      }
      th,
      td {
        border: 1px solid #bababa;
        padding: 12px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
        text-align: center;
      }
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      img {
        max-width: 140px;
        max-height: 100px;
        border-radius: 8px;
      }
      .no-orders {
        font-style: italic;
        color: #999;
      }
      .dropdown-item:active{
       background-color: white;
       color: black;
      }
      .accepted {
        color: rgba(0, 163, 0, 0.833);
      }
      .rejected {
        color: rgb(255, 10, 10);
      }
      .pending {
        color: rgb(255, 132, 0);
      }
      
      .tabels {
        margin-left: 30px;
      }
      
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Company Name and Logo -->
        <a class="navbar-brand" href="#">
          <img src="{% static 'receiver/logo.png' %}" alt="Company Icon" />
          <span class="company-name">ZeroWaste</span>
        </a>
        <!-- Navbar Toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="tabels">
      <!-- (click to track the order) not yet implemeted -->
      <h1>Active Orders (click to track the order)</h1>
      <table class="non-empty-accepted">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Image</th>
            <th>Order Details</th>
            <th>Date & Time</th>
            <th>Order status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders.accepted %}
          <tr style="cursor: pointer">
              <td style="text-align:center">{{ order.order_id }}</td>
              <td style="text-align:center"><img src="{{ order.image }}" alt="Product Image" /></td>
              <td style="text-align:center">
                  <p>Item: {{ order.item_name }}</p>
                  <p>Quantity: {{ order.quantity }}</p>
                  <p>Location: {{ order.location }}</p>
              </td>
              <td style="text-align:center">
                  <p>Date: {{ order.date }}</p>
                  <p>Time: {{ order.time }}</p>
              </td>
               <td class="{{ order.status }}" style="font-size: 18px; font-weight: 600;text-align:center">
                  {{ order.status }}
                </td>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3 class="empty-accepted">
        Your accepted orders will be displayed here
      </h3>
      <h1 style="margin-top:90px">All Orders</h1>

      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-selected-category="All"
        >
          All
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a class="dropdown-item" onclick="filterPosts('all')">All</a>
          </li>
          <li>
            <a class="dropdown-item" onclick="filterPosts('pending')"
              >Pending</a
            >
          </li>
          <li>
            <a class="dropdown-item" onclick="filterPosts('accepted')"
              >Accepted</a
            >
          </li>
          <li>
            <a class="dropdown-item" onclick="filterPosts('rejected')"
              >Rejected</a
            >
          </li>
          <li>
            <a class="dropdown-item" onclick="filterPosts('delivered')"
              >Delivered</a
            >
          </li>
        </ul>
      </div>
      <!-- Display orders based on selected categories from drop down -->

      <table class="dropdown-table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Image</th>
            <th>Order Details</th>
            <th>Date & Time</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody class="table-content">
          {% for order in orders %}
          <tr>
            <td>{{ order.order_id }}</td>
            <td><img src="{{ order.image }}" alt="Product Image" /></td>
            <td>
              <p>Item name:{{ order.item_name }}</p>
              <p>Quantity: {{ order.quantity }}</p>
              <p>{{ order.location }}</p>
            </td>
            <td>{{ order.date }} {{ order.time }}</td>
            <td>{{ order.status }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <h3 class="empty-all-orders">All orders will be displayed here</h3>
      <h3 class="empty-pending-orders">
        Pending orders will be displayed here
      </h3>
      <h3 class="empty-accepted-orders">
        Accpeted orders will be displayed here
      </h3>
      <h3 class="empty-rejected-orders">
        Rejected orders will be displayed here
      </h3>
      <h3 class="empty-delivered-orders">
        Delivered orders will be displayed here
      </h3>
    </div>
  </body>
  <script>

    allOrders={{ orders | safe }};
    if (allOrders.accepted.length === 0) {
      document.querySelector(".non-empty-accepted").style.display = "none";
      document.querySelector(".empty-accepted").style.display = "block";
    } else {
      document.querySelector(".non-empty-accepted").style.display = "table";
      document.querySelector(".empty-accepted").style.display = "none";
    }
    // Toggle between different views
      document.querySelector(".empty-all-orders").style.display = "none";
      document.querySelector(".empty-accepted-orders").style.display = "none";
      document.querySelector(".empty-rejected-orders").style.display = "none";
      document.querySelector(".empty-pending-orders").style.display = "none";
      document.querySelector(".empty-delivered-orders").style.display = "none";
    if (
      allOrders.accepted.length === 0 &&
      allOrders.rejected.length === 0 &&
      allOrders.delivered.length === 0 &&
      allOrders.pending.length === 0
    ) {
      document.querySelector(".dropdown-table").style.display = "none";
      document.querySelector(".empty-all-orders").style.display = "block";
    } else {
      document.querySelector(".dropdown-table").style.display = "table";
      document.querySelector(".empty-all-orders").style.display = "none";
    }
    filterPosts('all')
    function filterPosts(status) {
      //change dropdoen link name based on selected category
    let dropdownToggle = document.getElementById('dropdownMenuLink');
    dropdownToggle.innerHTML = status // Update the text of the dropdown toggle
    dropdownToggle.dataset.selectedCategory = status; // Update the selected category in the data attribute

      //reset
      document.querySelector(".empty-all-orders").style.display = "none";
      document.querySelector(".empty-accepted-orders").style.display = "none";
      document.querySelector(".empty-rejected-orders").style.display = "none";
      document.querySelector(".empty-pending-orders").style.display = "none";
      document.querySelector(".empty-delivered-orders").style.display = "none";
      // converts the encoded html from server to an array
      pendingOrders={{ orders.pending | safe }};
      acceptedOrders={{ orders.accepted | safe }};
      rejectedOrders={{ orders.rejected | safe }};
      deliveredOrders={{ orders.delivered | safe }};

      // filter the orders based on status
      let allOrders = [
        ...pendingOrders,
        ...acceptedOrders,
        ...rejectedOrders,
        ...deliveredOrders,
      ];
      console.log(allOrders);
      if (status === "all") {
        filteredOrders = allOrders.filter(
          (order) =>
            order.status === "accepted" ||
            order.status === "rejected" ||
            order.status === "pending" ||
            order.status === "delivered"
        );
      } else {
        filteredOrders = allOrders.filter((order) => order.status === status);
      }
      if (status === "all") {
        // display table and hide text
        if (filteredOrders.length === 0) {
          document.querySelector(".dropdown-table").style.display = "none";
          document.querySelector(".empty-all-orders").style.display = "block";
        }
        // display text and hide table
        else {
          document.querySelector(".dropdown-table").style.display = "table";
          document.querySelector(".empty-all-orders").style.display = "none";
        }
      } else if (status === "pending") {
        // display table and hide text
        if (filteredOrders.length === 0) {
          document.querySelector(".dropdown-table").style.display = "none";
          document.querySelector(".empty-pending-orders").style.display =
            "block";
        }
        // display text and hide table
        else {
          document.querySelector(".dropdown-table").style.display = "table";
          document.querySelector(".empty-pending-orders").style.display =
            "none";
        }
      } else if (status === "accepted") {
        // display table and hide text
        if (filteredOrders.length === 0) {
          document.querySelector(".dropdown-table").style.display = "none";
          document.querySelector(".empty-accepted-orders").style.display =
            "block";
        }
        // display text and hide table
        else {
          document.querySelector(".dropdown-table").style.display = "table";
          document.querySelector(".empty-accepted-orders").style.display =
            "none";
        }
      } else if (status === "rejected") {
        // display table and hide text
        if (filteredOrders.length === 0) {
          document.querySelector(".dropdown-table").style.display = "none";
          document.querySelector(".empty-rejected-orders").style.display =
            "block";
        }
        // display text and hide table
        else {
          document.querySelector(".dropdown-table").style.display = "table";
          document.querySelector(".empty-rejected-orders").style.display =
            "none";
        }
      } else if (status === "delivered") {
        // display table and hide text
        if (filteredOrders.length === 0) {
          document.querySelector(".dropdown-table").style.display = "none";
          document.querySelector(".empty-delivered-orders").style.display =
            "block";
        }
        // display text and hide table
        else {
          document.querySelector(".dropdown-table").style.display = "table";
          document.querySelector(".empty-delivered-orders").style.display =
            "none";
        }
      }
      document.querySelector(".table-content").innerHTML = "";
      //add all the new rows to the table
      filteredOrders.forEach((order) => {
        let newRow = document.createElement("tr");
        newRow.innerHTML = `
          <td style="text-align:center">${order.order_id}</td>
            <td style="text-align:center"><img src="${order.image}" alt="Product Image" /></td>
            <td style="text-align:center">
                <p>Item: ${order.item_name}</p>
                <p>Quantity: ${order.quantity}</p>
                <p>Location: ${order.location}</p>
            </td>
            <td style="text-align:center">
                <p>Date: ${order.date}</p>
                <p>Time: ${order.time}</p>
            </td>
            <td class=${order.status} style="font-size: 18px; font-weight: 600;text-align:center">
                ${order.status}
          </td>
        `;
        document.querySelector(".table-content").appendChild(newRow);
      });
      console.log( document.querySelector(".dropdown-table"));
    }
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</html>
