venv
eVar
virt
admin_mod/__pycache__
admin_mod/migrations/__pycache__
provider/__pycache__
provider/migrations/__pycache__
receiver/__pycache__ 
receiver/migrations/__pycache__ 
statics/provider/postpics
project/__pycache__
