body {
    font-family: Arial, sans-serif;
    background-color: #effde1ae;
}

.head {
    display: flex;
    flex-direction: row;
}

.head img {
    width: 50px; /* Adjust the width of your logo */
    height: 50px;
    padding: 10px;
}

.container {
    background-color: #f0f0f0;
    margin: auto;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}

h2 {
    margin: 5%;
    text-align: center;
    color: #333;
}

label {
    color: black;
    margin-left: 17%;
}

input[type="password"],
input[type="text"] {
    margin: 2%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 15px;
    display: block;
    margin-left: 18%;
    font-size: 16px;
    width: 60%;
}

input[type="submit"] {
    background-color: #32B1F9;
    color: #fff;
    padding: 12px 5%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    max-width: 40%;
    margin: 2% 41%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.alert {
    padding: 2%;
    background-color: #fbc1c6;
    border: 1px solid #ff0019;
    color: #ae0011;
    border-radius: 10px;
    font-size: x-large;
    max-width: 60%;
    margin: 2% auto;
}

#resendBtnContainer {
    text-align: center;
    position: relative;
}

#resendBtn {
    background-color: #ccc;
    color: #fff;
    padding: 12px 5%;
    border: none;
    border-radius: 8px;
    cursor: not-allowed;
    font-size: 18px;
    max-width: 40%;
    transition: background-color 0.3s ease;
}

#resendBtn:hover {
    background-color: #ccc;
}

#resendBtn::before {
    content: "🚫 ";
}

p{
    display: flex;
    flex-direction: row;
    left: 50%;
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #999;
}

