body {
    background-color: #fefefe;
    color: white;
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; */
    /* overflow: hidden; */
}

.container {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
}

.head {
    display: flex;
    flex-direction: row;
  }

  .header img {
    width: 100px; /* Adjust the width of your logo */
    height: 100px;
  }

.form-container {
  margin-top: 6%;
    background-color: #fffa6e;
    /* margin-top: 100px; */
    width: 40%;
    height: 70%;
    padding: 12px;
    display: flex;
    margin-left: 0%;
    flex-direction: column;
    border-radius: 15px;
}

form {
    width: 100%;
   
}

  .form-container h2 {
    margin-left: 34%;
    font-size: 27px;
    padding: 20px;
    color: black;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
  }

  .form-container label {
        color: black;
  }

  .form-container input[type="text"],
  .form-container input[type="password"]{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 15px;
    display: block;
    margin-left: 14%;
    font-size: 16px;
    max-width: 70%;
  }

  .form-container input[type="submit"] {
    margin-top: 15px;
    background-color: #32B1F9;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 37%;
    max-width: 30%;
    transition: background-color 0.3s ease;
  }

  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .form-container .remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14%;
    width: 72%;
    margin-bottom: 10px;
  }
  
  .form-container .remember-me label {
    font-size: 16px;
  }
  

  .form-container .validation-message {
    background-color: #f7a9af;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  p {
    margin-left: 14%;
    color: #000000;
    font-size: 1em;
    margin-bottom: 20px;
  }

  
  .picture {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top:6%;

  }

  .picture img {
    padding-top: 0%;
    width: 148%;
    margin-left: 25%;
    max-height: 81%;
    border-radius: 8px;
  }

  @media (max-width: 900px) {
  /* Tablet view */
  .container {
    max-width: 900px;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-container {
    width: 100%;
    margin-top: 0;
  }

  .picture {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  /* Phone view */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .picture {
    order: -1;
  }

  .form-container {
    width: 100%;
    margin-top: 20px;
  }
}