body {
    margin: 0;
    padding: 0;
    background-color: #A2FF90;
    color: white;
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; */
    /* overflow: hidden; */
}

.container {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
}

.form-container {
  margin-top: 1px;
    background-color: white;
    /* margin-top: 100px; */
    width: 85%;
    height: 90%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    border-radius: 15px;
}

form {
    width: 100%;
   
}

  .form-container h2 {
    margin-left: 34%;
    font-size: 20px;
    padding: 20px;
    color: black;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
  }

  .form-container label {
    margin-left: 14%;
    padding-top: 0.7em;
    margin-bottom: 4px;
    color: black;
  }

  .form-container input[type="text"],
  .form-container input[type="password"]{
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 15px;
    display: block;
    margin-left: 14%;
    margin-bottom: 10px;
    font-size: 16px;
    max-width: 70%;
  }

  .form-container select {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 15px;
    display: block;
    margin-left: 14%;
    margin-bottom: 10px;
    font-size: 16px;
    max-width: 73%;
  }

  .form-container input[type="submit"] {
    margin-top: 15px;
    background-color: #32B1F9;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 37%;
    max-width: 30%;
    transition: background-color 0.3s ease;
  }

  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .already-have-account {
    margin-left: 14%;
    margin-top: 30px;
    font-size: 20px;
    color: black;
  }

  .already-have-account a {
    color: #EC9C00;
    text-decoration: none;
  }

  .already-have-account a:hover {
    text-decoration: underline;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top:0.5%;
    
  }

  .picture img {
    padding-top: 0%;
    max-width: 107%; 
    max-height: 75%;
    border-radius: 8px;
  }

  @media (max-width: 900px) {
  /* Tablet view */
  .container {
    max-width: 900px;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-container {
    width: 100%;
    margin-top: 0;
  }

  .picture {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  /* Phone view */
  .container {
    flex-direction: column;
    align-items: center;
  }

  .picture {
    order: -1;
  }

  .form-container {
    width: 100%;
    margin-top: 20px;
  }
}