{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'admin/css/changepassword.css' %}">
</head>
<body>
    <div class="head">
        <img src="{% static 'admin/media/simple-icons_overleaf.png' %}" alt="Overleaf Logo">
        <h1>ZeroWaste</h1>
    </div>

    <div class="container">
        <form class="form" method="post" id="form">
            {% csrf_token %}
            <h2>Forget Password</h2>
        
            {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <label for="password">Email</label>
            <input type="text" name="email"  class="form-control" placeholder="Enter your Email">
            <input type="submit" id="submitBtn" value="Submit" onclick="showResendButton()">
        </form>
        <div id="resendBtnContainer" style="display: none;">
            <form class="form" id="form" method="post">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ email }}">
                <input type="submit" value="Resend Email" id="resendBtn" style="background-color: #ccc; color: #fff;" disabled>
                <span id="timer"></span>
            </form>
        </div>
    </div>
    <script>
        let resendBtn = document.getElementById('resendBtn');
        let timerDisplay = document.getElementById('timer');
        let timerDuration = 5; // in seconds
        let timerInterval;
        let timerCount = timerDuration;
    
        function startTimer() {
            resendBtn.disabled = true;
            resendBtn.style.cursor = 'not-allowed';
            resendBtn.style.backgroundColor = '#ccc';
            timerDisplay.style.display = 'block';
            timerInterval = setInterval(() => {
                timerCount--;
                if (timerCount <= 0) {
                    clearInterval(timerInterval);
                    resendBtn.disabled = false;
                    resendBtn.style.cursor = 'pointer';
                    resendBtn.style.backgroundColor = '#32B1F9';
                    timerDisplay.style.display = 'none';
                    timerCount = timerDuration;
                }
                timerDisplay.innerText = `${timerCount}s`;
            }, 1000);
        }
    
        resendBtn.addEventListener('click', () => {
            startTimer();
            resendBtn.disabled = true;
            resendBtn.style.backgroundColor = '#ccc';
        });

        {% if messages %}
        window.onload = (event) =>{
            resendBtn.disabled = false;
            resendBtn.style.backgroundColor = '#ccc';
            startTimer();
            document.getElementById('submitBtn').style.display = 'none';
            document.getElementById('resendBtnContainer').style.display = 'block';
        }

        {% endif %}
    
        setTimeout(() => {
            resendBtn.disabled = false;
            resendBtn.style.cursor = 'pointer';
            resendBtn.style.backgroundColor = '#32B1F9';
            timerDisplay.innerText = '';
        }, 5000);
    
    </script>
    
    
</body>
</html>
