{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
</head>
<style>
  body {
    background-image: url('{% static 'admin/media/frgtpass.png' %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
  }
</style>
<body>
  
  <div class="container">
    <div class="head">
      <img src="{% static 'admin/media/simple-icons_overleaf.png' %}" alt="Overleaf Logo" style="height: 50px;width:50px;padding:10px">
      <h1 style="color:black">ZeroWaste</h1><br>
    </div>
    <div class="picture">
      <img src="{% static 'admin/media/waste1.jpg' %}" alt="Picture">
    </div>
  <div class="form-container">
    <div>
      <h2>Login here</h2>
    </div>
    <form id="loginForm" method="post" onsubmit="return validateForm()">
      {% csrf_token %}
      {% if messages %}
<div class="validation-message" id="validationMessage">
<ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
</div>
{% endif %}

      <label for="email" style="margin-left:14%">Email</label><br>
      <input id="email" name="email" type="text" placeholder="Enter your Email"><br>

      <label for="password" style="margin-left:14%">Password</label><br>
      <input id="password" name="password" type="password" placeholder="Enter your password"><br>

      <div class="remember-me">
        <div>
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Remember me</label>
        </div>
        <a href="forget-password">Forgot Password?</a>
      </div>
      

      <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="register">Register now</a> at the bottom.</p>
</div>

  <script>
    function validateForm() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var validationMessage = document.getElementById("validationMessage");

      // Clear previous validation messages
      validationMessage.innerHTML = '';

      // Simple email validation
      var emailRegex = /\S+@\S+\.\S+/;
      if (!emailRegex.test(email)) {
        validationMessage.innerHTML = "Please enter a valid email address.";
        return false;
      }

      // Password length validation
      if (password.length < 6) {
        validationMessage.innerHTML = "Password must be at least 6 characters long.";
        return false;
      }

      // Form is valid, allow submission
      return true;
    }
  </script>
</body>
</html>
