{% extends "admin/adminbase.html" %}

{% block title %}Users{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/adminpanel.css' %}">
{% endblock %}

{% block content %}

<body>

    <div class="stats">
        <div class="stats-card accepted">
            <h2>Accepted</h2>
            <h3 id="acceptedCount">{{ accepted_count }}</h3>
            <button onclick="showAcceptedUsers()">View</button>
        </div>
        <div class="stats-card pending">
            <h2>Pending</h2>
            <h3 id="pendingCount">{{ pending_count }}</h3>
            <button onclick="showPendingUsers()">View</button>
        </div>
        <div class="stats-card rejected">
            <h2>Rejected</h2>
            <h3 id="rejectedCount">{{ rejected_count }}</h3>
            <button onclick="showRejectedUsers()">View</button>
        </div>
        
    </div>

    <!-- Display accepted users -->
    <div class="users-list-container" id="acceptedUsersContainer" style="display: none;">
        <h2 id="acceptedListHeading">Accepted Users</h2>
        <table class="users-list" id="acceptedUsersList">
            <thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>
            {% for user in accepted_users %}
            <tr class="user-details">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td> {{ user.location }}</td>
                <td><button id="btn-reject" type="button" onclick="rejectUser('{{ user.id }}')">Reject</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Display pending users -->
    <div class="users-list-container" id="pendingUsersContainer" style="display: none;">
        <h2 id="pendingListHeading">Pending Users</h2>
        <table class="users-list" id="pendingUsersList">
            <thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>
            {% for user in pending_users %}
            <tr class="user-details">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td> {{ user.location }}</td>
               <td> <button id="btn-accept" type="button" onclick="approveUser('{{ user.id }}')">Approve</button></td>
               <td><button id="btn-reject" type="button" onclick="rejectUser('{{ user.id }}')">Reject</button></td>

            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Display rejected users -->
    <div class="users-list-container" id="rejectedUsersContainer" style="display: none;">
        <h2 id="rejectedListHeading">Rejected Users</h2>
        <table class="users-list" id="rejectedUsersList">
            <thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>
            {% for user in rejected_users %}
            <tr class="user-details">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td> {{ user.location }}</td>
                <td> <button id="btn-accept" type="button" onclick="approveUser('{{ user.id }}')">Approve</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
         // JavaScript variables to store user data
         let pendingUsers = JSON.parse('{{ pending_users | safe }}');
         let acceptedUsers = JSON.parse('{{ accepted_users | safe }}');
         let rejectedUsers = JSON.parse('{{ rejected_users | safe }}');
 
         // Function to render pending users
         function renderPendingUsers() {
             let pendingContainer = document.getElementById("pendingUsersList");
             pendingContainer.innerHTML = `<thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>`;
             pendingUsers.forEach(user => {
                 pendingContainer.innerHTML += `
                 <tr class="user-details" data-user-id="${user.id}">
                    <td> ${user.username}</td>
                    <td> ${user.email}</td>
                    <td> ${user.role}</td>
                   <td> ${user.location}</td>
                        <td> <button id="btn-accept" onclick="approveUser(${user.id})">Approve</button></td>
                         <td> <button id="btn-reject" onclick="rejectUser(${user.id})">Reject</button></td>
                 </tr>
                 `;
             });
         }
 
         // Function to render accepted users
         function renderAcceptedUsers() {
             let acceptedContainer = document.getElementById("acceptedUsersList");
             acceptedContainer.innerHTML = `<thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>`;
         
        acceptedUsers.forEach(user => {
                 acceptedContainer.innerHTML += `
                     <tr class="user-details" data-user-id="${user.id}">
                         <td> ${user.username}</td>
                         <td> ${user.email}</td>
                         <td> ${user.role}</td>
                        <td> ${user.location}</td>
                        <td>    <button id="btn-reject" onclick="rejectUser(${user.id})">Reject</button>  </td>
                     </tr>
                 `;
             });
         }
 
         // Function to render rejected users
         function renderRejectedUsers() {
             let rejectedContainer = document.getElementById("rejectedUsersList");
             rejectedContainer.innerHTML = `<thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>`;
             rejectedUsers.forEach(user => {
                 rejectedContainer.innerHTML += `
                 <tr class="user-details" data-user-id="${user.id}">
                    <td> ${user.username}</td>
                    <td> ${user.email}</td>
                    <td> ${user.role}</td>
                   <td> ${user.location}</td>
                   <td> <button id="btn-accept" onclick="approveUser(${user.id})">Approve</button></td>
                </tr>
                 `;
             });
         }
 
         function approveUser(userId) {
            fetch(`/approve_user/${userId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                
             updateUI(data);
            })
            .catch(error => console.error('Error:', error));
        }
        
        function rejectUser(userId) {
            fetch(`/reject_user/${userId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                updateUI(data);
            })
            .catch(error => console.error('Error:', error));
        }
        
        function updateUI(data) {
            // Update accepted users list
             let acceptedContainer = document.getElementById("acceptedUsersList");
             acceptedContainer.innerHTML = `<thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>`;
         
        data.accepted_users.forEach(user => {
                 acceptedContainer.innerHTML += `
                     <tr class="user-details" data-user-id="${user.id}">
                         <td> ${user.username}</td>
                         <td> ${user.email}</td>
                         <td> ${user.role}</td>
                        <td> ${user.location}</td>
                        <td>    <button id="btn-reject" onclick="rejectUser(${user.id})">Reject</button>  </td>
                     </tr>
                 `;
             });    
        
            // Update pending users list
            let pendingContainer = document.getElementById("pendingUsersList");
             pendingContainer.innerHTML = `<thead>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Location</td>
                <td>Action</td>
            </thead>`;
             data.pending_users.forEach(user => {
                 pendingContainer.innerHTML += `
                 <tr class="user-details" data-user-id="${user.id}">
                    <td> ${user.username}</td>
                    <td> ${user.email}</td>
                    <td> ${user.role}</td>
                   <td> ${user.location}</td>
                        <td> <button id="btn-accept" onclick="approveUser(${user.id})">Approve</button></td>
                         <td> <button id="btn-reject" onclick="rejectUser(${user.id})">Reject</button></td>
                 </tr>
                 `;
             });
        
            // Update rejected users list
            let rejectedContainer = document.getElementById("rejectedUsersList");
            rejectedContainer.innerHTML = `<thead>
               <td>Username</td>
               <td>Email</td>
               <td>Role</td>
               <td>Location</td>
               <td>Action</td>
           </thead>`;
           data.rejected_users.forEach(user => {
                rejectedContainer.innerHTML += `
                <tr class="user-details" data-user-id="${user.id}">
                   <td> ${user.username}</td>
                   <td> ${user.email}</td>
                   <td> ${user.role}</td>
                  <td> ${user.location}</td>
                  <td> <button id="btn-accept" onclick="approveUser(${user.id})">Approve</button></td>
               </tr>
                `;
            });

            document.getElementById("acceptedCount").innerText = data.accepted_count;
            document.getElementById("pendingCount").innerText = data.pending_count;
            document.getElementById("rejectedCount").innerText = data.rejected_count;
        }
        


 
         // Initial rendering of user lists
         renderPendingUsers();
         renderAcceptedUsers();
         renderRejectedUsers();
        function showAcceptedUsers() {
            document.getElementById("acceptedUsersContainer").style.display = "block";
            document.getElementById("pendingUsersContainer").style.display = "none";
            document.getElementById("rejectedUsersContainer").style.display = "none";
        }

        function showPendingUsers() {
            document.getElementById("acceptedUsersContainer").style.display = "none";
            document.getElementById("pendingUsersContainer").style.display = "block";
            document.getElementById("rejectedUsersContainer").style.display = "none";
        }

        function showRejectedUsers() {
            document.getElementById("acceptedUsersContainer").style.display = "none";
            document.getElementById("pendingUsersContainer").style.display = "none";
            document.getElementById("rejectedUsersContainer").style.display = "block";
        }
        location.onload = function() {
            showRejectedUsers(); // Call the function after the page reloads
        };


        
    </script>
</body>

{% endblock %}
